<div class="card-header font-weight-bold mb-2">
    What are you up to ?
</div>
<div class="row">
    {% for card in page.cards %}
    <div class="col mb-2">
        <div class="card h-100 text-center">
            <a class="m-2" href="{{site.baseurl|append: card.url}}">
                <img src="{{site.baseurl| append: 'assets/img/'}}{{card.image}}" alt="{{card.text}}" height="80"
                    width="auto" />
            </a>
            <div class=" card-footer">
                <a href="{{site.baseurl|append: card.url}}">
                    <h6 class=" h6-responsive ">{{ card.text }}</h6>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

