<div class="card-header font-weight-bold">
    What are you up to ?
</div>
<div class="row">
    {% for card in page.cards %}
    <div class="col mb-2">
        <div class="card h-100 ">
            <h6 class=" h6-responsive text-center m-2 ">{{ card.text }}</h6>

            <a href="{{site.baseurl|append: card.url}}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card-header font-weight-bold text-capitalize">
    Top 5 General Knowledge
</div>

<div class="card-header font-weight-bold text-capitalize">
    Top 5 History
</div>

<div class="card-header font-weight-bold text-capitalize">
    Top 6 Technical News
</div>