<div class="card">
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="col-4">
                <img src="https://mindsnap.net.in/images/f4.jpg" class="image-responsive" alt="">
            </div>
            <div class="col-8">
                <h6 class="h6-responsive text-left text-wrap">
                    <a href="https://rbidocs.rbi.org.in/rdocs/Content/PDFs/ADV26032020FLD7EABB7E213B4D5C9CB0328FF0EB04B0.PDF"
                        target="_blank">RBI Recuritment 2020 hello world today is</a>
                </h6>


                <h6 class="h6-responsive text-left mt-2">
                    <a href="https://www.rbi.org.in/" target="_blank">
                        Apply Online
                    </a>
                </h6>

                <div class="td-post-date two text-left">
                    <i class="far fa-clock"></i>
                    April 12, 2020
                    <a href="#">
                        <i class="far fa-comment-alt"></i>
                        0
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="col-4">
                <img src="https://mindsnap.net.in/images/f1.jpg" class="image-responsive" alt="">
            </div>
            <div class="col-8">
                <h6 class="h6-responsive text-left text-wrap">
                    <a href="https://futurebankers.myamcat.com/candidate/home/registration"
                        target="_blank">HDFC Bank Future Bankers Program 2020</a>
                </h6>


                <h6 class="h6-responsive text-left mt-2">
                    <a href="https://futurebankers.myamcat.com/candidate/home/registration" target="_blank">
                        Apply Online
                    </a>
                </h6>

                <div class="td-post-date two text-left">
                    <i class="far fa-clock"></i>
                    April 12, 2020
                    <a href="#">
                        <i class="far fa-comment-alt"></i>
                        0
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="col-4">
                <img src="https://mindsnap.net.in/images/f3.jpg" class="image-responsive" alt="">
            </div>
            <div class="col-8 ">
                <h6 class="h6-responsive text-left text-wrap">
                    <a href="http://hllhites.com/uploads/Careers/741579418_2020-03-31_03-28-31.pdf"
                        target="_blank">HLL Lifecare Limited Recruitment 2020</a>
                </h6>


                <h6 class="h6-responsive text-left mt-2">
                    <a href="http://hllhites.com/careers" target="_blank">
                        Apply Online
                    </a>
                </h6>

                <div class="td-post-date two text-left">
                    <i class="far fa-clock"></i>
                    April 12, 2020
                    <a href="#">
                        <i class="far fa-comment-alt"></i>
                        0
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
