<nav class="navbar navbar-expand-lg navbar-dark indigo">

    <!-- brand name -->
    <a class="navbar-brand font-weight-bold text-capitalize" href="index.html">MindSnap</a>

    <!-- toggle button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- links -->
    <div class="collapse navbar-collapse" id="navbarText">

        <!-- left side -->
        <ul class="navbar-nav mr-auto">

            {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url %}
                    {% assign current = 'active' %}
                {% endif %}
                <li class="nav-item {{ current }}">
                    <a class="nav-link text-capitalize" href="{{ site.baseurl|append: link.url }}">{{ link.text }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- right side -->

        <span id="dpl-navbar-right-buttons">
            <!--Navigation icons-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <!-- Login / register -->
                <a id="navbar-static-signin" alt="Sign In"
                    class="text-capitalize yellow-text align-self-center ml-2 auth-modal-toggle"
                    data-auth-modal-tab="sign-in">Sign In</a>
                <a id="navbar-static-login" alt="Sign Up"
                    class="btn btn-info btn-rounded peach-gradient btn-sm waves-effect waves-light auth-modal-toggle"
                    data-auth-modal-tab="sign-up">SIGN UP</a>
            </ul>
        </span>
    </div>
</nav>