{% assign image_files = site.static_files | where: page.pdf_folder, true %}
{% for myimage in image_files %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ site.baseurl | append: myimage.path }}" target="blank">
                {{page.title}} Quiz: {{myimage.modified_time | date_to_string}}
            </a>
        </h5>
        <div class="td-post-date two">
            <i class="far fa-clock"></i>
            {{myimage.modified_time | date_to_string}}
            <a href="#">
                <i class="far fa-comment-alt"></i>
            </a>
        </div>
    </div>
</div>

{% endfor %}