{% assign pdf_files = site.static_files | where: page.assets, true %}
{% for pdf in pdf_files %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <img src="{{site.baseurl| append: 'assets/img/'}}download.svg" alt="{{card.text}}" height="20"
                    width="auto" />
            <a href="{{ site.baseurl | append:pdf.path }}" target="blank">
                {{page.title}} Quiz: {{pdf.modified_time | date_to_string}}
            </a>
        </h5>
        <div class="td-post-date two">
            <img src="{{site.baseurl| append: 'assets/img/'}}time.svg" alt="{{card.text}}" height="20"
                    width="auto" />
            {{pdf.modified_time | date_to_string}}
            
        </div>
    </div>
</div>

{% endfor %}