<div class="card">
    <h5 class="card-header">Video <i class="fas fa-video"></i></h5>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="" data-src="https://www.youtube.com/watch?v=0HficXmQ_dg"
            allowfullscreen></iframe>
    </div>
    <div class="card-body">
        <p class="card-text">
            Gk is very important subject for all competitive exams like ssc cgl, cds, nda, railway, rrb ntpc, upcs,
            mppcs etc.
        </p>
    </div>
    <div class ="card-footer">
        <i class="far fa-clock"></i>
        April 12, 2020
        <a href="#">
            <i class="far fa-comment-alt"></i>
            0
        </a>
    </div>
</div>